

body {
    background: white;
    font-family: 'Bungee';
    font-size: 22px;
}

.hello{
    padding-right: 50px;
}


p{
    font-size: 15px;
    font-weight: normal;
}

.jumbotron {
    background-color:darkblue !important;
    padding-top: 2%;
    text-align: center;
    padding-bottom: 1%;
}

#buttonDiv {
    float: right;
}

button {
    background-color: white;
    font-family: 'Bungee';
    color: black;
    border: 2px solid black;
    font-size: 20px;
}

#registrationSubmit, #loginSubmit, #activationSubmit, #finishRegistrationSubmit {
    background-color: white;
    font-family: 'Bungee';
    color: black;
    border: 2px solid black;
    font-size: 20px;
    height: 40px;
}


input[type=password], input[type=email] {
    font-family: 'Bungee';
    height: 5%;
    border: 2px solid black;
    line-height: 50px;
    border-radius: 5px;
    padding: 10px;
}

input[type=text]
{
    border-color: black;
    border-radius: 5px;
}

selected {
    font-family: 'Bungee';
}


#searchBox {
    height: 50px;
    width: 100%;
    font-family: 'Bungee';
    font-size: 30px;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    background-color: whitesmoke;
    margin: 20% auto; /* modal position */
    padding: 30px;
    width: 30%;
    height: 45%;
    overflow: auto;
    background-color: white;
}

.modalTwo {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content-two {
    background-color: whitesmoke;
    margin: 20% auto; /* modal position */
    padding: 30px;
    width: 25%;
    height: 25%;
}

#closeButton, #closeButtonTwo, #closeButtonThree {
    color: #ccc;
    float: right;
    font-size: 30px;
}

#closeButton:hover, #closeButton:focus, #closeButtonTwo:hover, #closeButtonTwo:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.productItem {
    display: table;
    align-content: center;
    clear: both;
    width: 40%;
    height: 20%;
    padding-left: 25%;
}

.productDesc {
    display: table-cell;
    float: left;
    width: 100%;
    padding: 10px;
    text-align: center;
}

#registration, #login, #activateFrom, #chooseCredentialsForm {
    text-align: center;
    font-size: 15px;
}


.modalThree {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content-three {
    background-color: whitesmoke;
    margin: 20% auto; /* modal position */
    padding: 30px;
    width: 35%;
    height: 25%;
}

#chooseCredentialsForm {
    display: none;
}
