*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

#registration{
    position: relative;
    border: 1px solid black;
    height: 500px;
    width: 200px;
}